<%- include("../partials/header") %>
<body style="background-color:#E8E8E8;">
    <div class="card" style="height: 500px;margin-bottom:15px">
        <div class="card-img-top">
            <img style="height:450px;width: 100%;"   src="https://images.unsplash.com/photo-1513708929605-6dd0e1b081bd?ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80">
        <div class="centered" style="position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);">
        <h1 style="color: whitesmoke;font-size:75px;font-family: Cambria;">Welcome to Bryary!!</h1>
    <p style="text-align: center;font-size: 22px;color:white" >Read and Create your own stories </p>
</div>
<!-- <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
<a style="background-color:rgba(223, 37, 37, 0.918);color: white;" class="btn rounded-pill" href="">Read more</a> -->
        </div>
    </div>
    
    


<!-- <a class="btn btn-success" href="/blogs/new">Add a new blog</a> -->

<div class="container" style="margin-top:20px;margin-bottom: 40px;">
    
   <!-- <% blogs.forEach(function(blog){ %>
        <h2><%= blog.title %></h2>
       
        <p><%= blog.description %></p>


        <a class="btn btn-info" href="/blogs/<%= blog._id %>">Read more</a>
    
    <% }) %>
</div> -->

<div class="card-columns" >
    <% blogs.forEach(function(blog){ %>
    <div class="card  shadow border-0" style="margin-right:90px">
      <img class="card-img-top" src="<%= blog.image %>" alt="Card image cap">
     
        <h5 class="card-title text-capitalize" style="margin-bottom:20px;padding-top:18px">
            <a style="margin-top:66px;margin-left:20px;font-family:Cambria; font-size: 25px;font-weight: bold;"><%= blog.title %></a><br>
            <a style="margin-left:13px;margin-top: 8px;background-color:rgba(223, 37, 37, 0.918);border: medium;"class="btn btn-info rounded-pill" href="/blogs/<%= blog._id %>">Read more</a>
            

            
          </h5>
  

       
        
       
      </div>
    
    <% }) %>
    
  </div>
  
  
<!-- <div class="row" style="margin-left: -20px;">
    
    <% blogs.forEach(function(blog){ %>
  
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card indexCards shadow border-0 mt-4" style="margin-bottom:4px">
        <a href="/campgrounds/5b7686c2aebcf900147d5ebb"><img id="campgroundCard" class="card-img-top" src="<%= blog.image %>"></a>
          <h5 class="card-title text-capitalize" style="margin-bottom:20px;padding-top:18px">
            <a style="margin-top:70px;margin-left:20px;" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
            

            
          </h5>
  
            
       
            
              
              
                  
              
        </div>
      </div>
      <% }) %>
    </div> -->
    </body>


 

    <%- include("../partials/footer") %>
 
 
    