<%- include("../partials/header") %>

<div class="container">

    <div class="card" style="width: 18rem; margin-top: 35px;">
        <img class="card-img-top" src="<%= user.avatar %>" alt="Card image cap" height="270px">
        <div class="card-body"><b>Username:</b>
            <%= user.username %>

        </div>
        </div>
        <div class="card" style="width: 18rem;margin-top: 16px; margin-bottom: 15px;">
            <div class="card-header">
                <%=user.username %>'s Profile
              </div>
        <ul class="list-group list-group-flush">
            
            <li class="list-group-item"><b>Username:</b><%= user.firstName %> <%= user.lastName %></li>
            <li class="list-group-item"><b>Email:</b><a href="#"><%= user.email %></a></li>
            <li class="list-group-item"><b>Joined On:</b>August 11,2018</li>
            
            
          </ul>
       
      </div>
        
        
   <!-- <h2><%= user.firstName %>  <%= user.lastName %></h2>
   <br>
   <img src="<%= user.avatar %>">

   <h6>
       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, aut ex libero voluptatibus nemo aperiam deserunt minima odio, blanditiis voluptas molestias iure dicta, non aspernatur minus doloribus modi eligendi. Veniam totam velit repellat inventore ex ad tempora fugiat nostrum incidunt?



       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem omnis laudantium quos, autem facere placeat. Ex facilis neque culpa a cupiditate doloremque incidunt, vero cumque quisquam autem nam iste libero?
       

   </h6> -->